/* 
@component Hero
@author: Margareta.Sandor@akin.network
Powered by @AkinTechLab
*/

@import "../config";
@import "../mixin";

// Hero Config variables (in-scope)
$hero-width: 100% !default;

$hero-content-block-width: (
  "xxs": $size-360,
  "xs": $size-360,
  "sm": $size-480,
  "md": $size-480,
  "lg": $size-480,
  "xl": $size-480,
  "xxl": $size-480,
);

$hero-heigh: (
  "xxs": $size-640,
  "xs": $size-640,
  "sm": $size-640,
  "md": $size-496,
  "lg": $size-496,
  "xl": $size-496,
  "xxl": $size-496,
);

$hero-flex: (
  flex-direction: row,
  justify-content: space-between,
  align-items: center,
  flex-wrap: wrap,
);

$flex-info-item: (
  flex: 1,
  align-self: center,
);

$flex-banner-container: (
  flex-direction: column,
  justify-content: center,
  align-items: center,
);

$flex-banner-item: (
  flex: 1,
);

$logo-scale: (
  "xxs": 0.8,
  "xs": 0.8,
  "sm": 0.8,
  "md": 0.9,
);
// Styling
.hero {
  width: $hero-width;
  @include respond-to($hero-heigh) using ($breakpoint, $value) {
    height: $value;
  }
  overflow: hidden;
  // flex
  @include flex-container($hero-flex);
  .hero-content-block {
    @include respond-to($hero-content-block-width) using ($breakpoint, $value) {
      width: $value;
      .logo {
        transform: scale(map-get($logo-scale, $breakpoint));
        transform-origin: bottom left;
      }
    }
    display: block;
    z-index: 1000;
    @include flex-item($flex-info-item);
  }
  .banner-wrapper {
    position: relative;
    width: $hero-width;
    @include flex-item($flex-banner-item);
    @include flex-container($flex-banner-container);
    svg {
      position: absolute;
      right: 0;
    }
  }
}
