// Variables relevant to akin_gethub theme;

$akin-neutral-0: rgba(255, 255, 255, 1) !default;
$akin-neutral-100: rgba(250, 252, 255, 1) !default;
$akin-neutral-200: rgba(242, 249, 255, 1) !default;
$akin-neutral-300: rgba(206, 218, 229, 1) !default;
$akin-neutral-400: rgba(173, 190, 204, 1) !default;
$akin-neutral-500: rgba(143, 161, 178, 1) !default;
$akin-neutral-600: rgba(114, 135, 153, 1) !default;
$akin-700: rgba(89, 109, 128, 1) !default;
$akin-800: rgba(66, 85, 102, 1) !default;
$akin-900: rgba(46, 62, 77, 1) !default;
$akin-brand-100: rgba(255, 248, 242, 1) !default;
$akin-brand-200: rgba(255, 228, 204, 1) !default;
$akin-brand-300: rgba(242, 191, 145, 1) !default;
$akin-brand-400: rgba(229, 156, 92, 1) !default;
$akin-brand-500: rgba(217, 124, 43, 1) !default;
$akin-brand-600: rgba(191, 105, 29, 1) !default;
$brand-700: rgba(166, 86, 17, 1) !default;
$brand-800: rgba(140, 69, 7, 1) !default;
$brand-900: rgba(115, 54, 0, 1) !default;
$akin-success-100: rgba(242, 255, 244, 1) !default;
$akin-success-200: rgba(204, 255, 213, 1) !default;
$akin-success-300: rgba(145, 242, 161, 1) !default;
$akin-success-400: rgba(92, 229, 115, 1) !default;
$akin-success-500: rgba(43, 217, 68, 1) !default;
$akin-success-600: rgba(29, 191, 56, 1) !default;
$success-700: rgba(17, 166, 41, 1) !default;
$success-800: rgba(7, 140, 29, 1) !default;
$success-900: rgba(0, 115, 19, 1) !default;
$akin-warning-100: rgba(255, 253, 242, 1) !default;
$akin-warning-200: rgba(255, 247, 204, 1) !default;
$akin-warning-300: rgba(242, 226, 145, 1) !default;
$akin-warning-400: rgba(229, 207, 92, 1) !default;
$akin-warning-500: rgba(217, 188, 43, 1) !default;
$akin-warning-600: rgba(191, 164, 29, 1) !default;
$warning-700: rgba(166, 141, 17, 1) !default;
$warning-800: rgba(140, 118, 7, 1) !default;
$warning-900: rgba(115, 96, 0, 1) !default;
$akin-destructive-100: rgba(255, 242, 242, 1) !default;
$akin-destructive-200: rgba(255, 204, 204, 1) !default;
$akin-destructive-300: rgba(242, 145, 145, 1) !default;
$akin-destructive-400: rgba(229, 92, 92, 1) !default;
$akin-destructive-500: rgba(217, 43, 43, 1) !default;
$akin-destructive-600: rgba(191, 29, 29, 1) !default;
$destructive-700: rgba(166, 17, 17, 1) !default;
$destructive-800: rgba(140, 7, 7, 1) !default;
$destructive-900: rgba(115, 0, 0, 1) !default;
$akin-decorative-800: rgba(235, 235, 255, 1) !default;
$akin-decorative-700: rgba(240, 240, 255, 1) !default;
$akin-decorative-600: rgba(245, 245, 255, 1) !default;
$akin-decorative-500: rgba(250, 250, 255, 1) !default;
$decorative-900: rgba(229, 229, 255, 1) !default;
$akin-0-t56: rgba(255, 255, 255, 0.56) !default;
$akin-700-t56: rgba(89, 109, 128, 0.56) !default;
$akin-800-t56: rgba(66, 85, 102, 0.56) !default;
$akin-900-t64: rgba(46, 63, 77, 0.64) !default;
