// Web font imports from GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

// Primitives management
@import "primitives";

// Theme configuration
$themes: "akin_network", "akin_digicraft", "akin_martech", "akin_gethub";
//Mode configuration
$modes: "light", "dark";

$theme-selector: "akin_network"; // Configurable: THEME LOOK AND FEEL
$mode-selector: "light"; // Configurable: THEME MODE VARIABLES

$mode-path: "akin_network/light/_variables";

// Import the variables file
@import "akin_network/light/variables";

// Metrics convertor unit
$rem: 16; //Configurable: FONT SIZE BASE

// Media queries for responsive design
// Define breakpoints using imported variables
$breakpoints: (
  "xxs": $size-0,
  "xs": $size-576,
  "sm": $size-768,
  "md": $size-992,
  "lg": $size-1200,
  "xl": $size-1440,
  "xxl": $size-1680,
);

// Container flex defaults

$flex-defaults: (
  flex-direction: column,
  justify-content: flex-start,
  align-items: flex-start,
  align-content: stretch,
  flex-wrap: nowrap,
  gap: $size-0,
);

$flex-item-defaults: (
  flex-grow: 0,
  flex-shrink: 1,
  basis: auto,
  order: auto,
  align-self: flex-start,
);

// Define flex properties for specific breakpoints
$flex-breakpoints-config: (
  "xxs": $size-32,
  "xs": $size-32,
  "sm": $size-40,
  "md": $size-48,
  "lg": $size-48,
  "xl": $size-64,
  "xxl": $size-64,
);

// Container

$main-max-width: (
  "xxs": 100%,
  "xs": 100%,
  "sm": 100%,
  "md": 100%,
  "lg": 90%,
  "xl": 85%,
  "xxl": 85%,
);

$container-margin-y: (
  "xxs": $size-32,
  "xs": $size-32,
  "sm": $size-32,
  "md": $size-48,
  "lg": $size-32,
  "xl": $size-32,
  "xxl": $size-32,
); // Horizontal spacing

$container-margin-x: (
  "xxs": $size-32,
  "xs": $size-32,
  "sm": $size-32,
  "md": $size-48,
  "lg": $size-32,
  "xl": $size-32,
  "xxl": $size-32,
); // Vertical spacing

$font-family: "Nunito Sans", sans-serif;

// Icons imports and configuration

// ICON FONTS
// Font Assets location
// local path: "../assets/fonts"
// git page repository: https://akinnetwork.github.io/andsicon/fonts/

$icon-ands-font-family: "ands-icons" !default;
$icon-ands-font-path: "../assets/fonts" !default; //Configurable: FONT path

// TYPOGRAPHY

// H1 style configuration
$h1-font-size: (
  // Configurable: H1 FONT SIZE
  "xxs": $size-32,
  "xs": $size-32,
  "sm": $size-32,
  "md": $size-48,
  "lg": $size-48,
  "xl": $size-56,
  "xxl": $size-56
);
$h1-font-weight: (
  // Configurable: H1 FONT WEIGHT
  "xxs": 300,
  "xs": 300,
  "sm": 300,
  "md": 300,
  "lg": 300,
  "xl": 300,
  "xxl": 300
);
$h1-line-height: (
  // Configurable: H1 FONT WEIGHT
  "xxs": 1.2,
  "xs": 1.2,
  "sm": 1.2,
  "md": 1.1,
  "lg": 1,
  "xl": 1,
  "xxl": 1
);
$h1-letter-space: (
  // Configurable: H1 FONT WEIGHT
  "xxs": 0.015rem,
  "xs": 0.015rem,
  "sm": 0.015rem,
  "md": 0.025rem,
  "lg": 0.025rem,
  "xl": 0.025rem,
  "xxl": 0.025rem
);

// H2 style configuration
$h2-font-size: (
  // Configurable: H2 FONT SIZE
  "xxs": $size-24,
  "xs": $size-24,
  "sm": $size-32,
  "md": $size-40,
  "lg": $size-40,
  "xl": $size-56,
  "xxl": $size-56
);
$h2-font-weight: (
  // Configurable: H2 FONT WEIGHT
  "xxs": 300,
  "xs": 300,
  "sm": 300,
  "md": 200,
  "lg": 200,
  "xl": 200,
  "xxl": 200
);
$h2-line-height: (
  // Configurable: H2 FONT WEIGHT
  "xxs": 1.2,
  "xs": 1.2,
  "sm": 1.2,
  "md": 1.2,
  "lg": 1.2,
  "xl": 1.4,
  "xxl": 1.4
);
$h2-letter-space: (
  // Configurable: H2 FONT WEIGHT
  "xxs": 0.015rem,
  "xs": 0.015rem,
  "sm": 0.015rem,
  "md": 0.025rem,
  "lg": 0.025rem,
  "xl": 0.025rem,
  "xxl": 0.025rem
);

// Paragraph style configuration
$p-font-size: (
  // Configurable: P FONT SIZE
  "xxs": $size-16,
  "xs": $size-16,
  "sm": $size-16,
  "md": $size-16,
  "lg": $size-16,
  "xl": $size-16,
  "xxl": $size-16
);
$p-font-weight: (
  // Configurable: P FONT WEIGHT
  "xxs": 300,
  "xs": 300,
  "sm": 300,
  "md": 200,
  "lg": 200,
  "xl": 200,
  "xxl": 200
);
$p-line-height: (
  // Configurable: P FONT WEIGHT
  "xxs": 1.5,
  "xs": 1.5,
  "sm": 1.5,
  "md": 1.4,
  "lg": 1.4,
  "xl": 1.4,
  "xxl": 1.4
);
$p-letter-space: (
  // Configurable: P FONT WEIGHT
  "xxs": 0.03rem,
  "xs": 0.025rem,
  "sm": 0.025rem,
  "md": 0.025rem
);
