// Main Styling - this will be rerendered depending of the configured context - theme/mode
@import "config";
@import "mixin";

body {
  background-color: $background-colour;
  color: $font-colour;
}

/* Container for app */
// Applying flex properties for .App class with responsive adjustments using respond-to mixin
.App {
  position: relative;
  @include respond-to($flex-breakpoints-config) using ($breakpoint, $value) {
    @include flex-container(
      $value
    ); // Use $value for flex properties at each breakpoint
  }
}

.cpadding {
  @include respond-to($container-space-x) using ($breakpoint, $value) {
    padding-left: map-get($container-space-x, $breakpoint);
    padding-right: map-get($container-space-x, $breakpoint);
    padding-top: map-get($container-space-y, $breakpoint);
    padding-bottom: map-get($container-space-y, $breakpoint);
  }
}

.cmargin {
  @include respond-to($container-space-x) using ($breakpoint, $value) {
    margin-left: map-get($container-space-x, $breakpoint);
    margin-right: map-get($container-space-x, $breakpoint);
    margin-top: map-get($container-space-y, $breakpoint);
    margin-bottom: map-get($container-space-y, $breakpoint);
  }
}

.epadding {
  @include respond-to($elem-space-x) using ($breakpoint, $value) {
    padding-left: map-get($elem-space-x, $breakpoint);
    padding-right: map-get($elem-space-x, $breakpoint);
    padding-top: map-get($elem-space-y, $breakpoint);
    padding-bottom: map-get($elem-space-y, $breakpoint);
  }
}

.emargin {
  @include respond-to($elem-space-x) using ($breakpoint, $value) {
    margin-left: map-get($elem-space-x, $breakpoint);
    margin-right: map-get($elem-space-x, $breakpoint);
    margin-top: map-get($elem-space-y, $breakpoint);
    margin-bottom: map-get($elem-space-y, $breakpoint);
  }
}

.main {
  @include respond-to($main-max-width) using ($breakpoint, $value) {
    width: $value;
  }
  margin: auto;
}

.container {
  @extend .cmargin;
}

.element {
  &.style {
    background-color: $elem-background-colour;
    border-radius: $elem-border-radius;
    backdrop-filter: blur($elem-backdrop-filter);
    border: none;
  }

  &.inner {
    @extend .epadding;
  }

  &.cont {
    @extend .cpadding;
  }
}
