// Variables relevant to  theme;

$size-0: 0rem !default;
$size-4: 0.25rem !default;
$size-8: 0.5rem !default;
$size-16: 1rem !default;
$size-24: 1.5rem !default;
$size-32: 2rem !default;
$size-40: 2.5rem !default;
$size-48: 3rem !default;
$size-56: 3.5rem !default;
$size-64: 4rem !default;
$size-72: 4.5rem !default;
$size-80: 5rem !default;
$size-88: 5.5rem !default;
$size-96: 6rem !default;
$size-104: 6.5rem !default;
$size-112: 7rem !default;
$size-120: 7.5rem !default;
$size-128: 8rem !default;
$size-136: 8.5rem !default;
$size-144: 9rem !default;
$size-152: 9.5rem !default;
$size-160: 10rem !default;
$size-168: 10.5rem !default;
$size-176: 11rem !default;
$size-184: 11.5rem !default;
$size-192: 12rem !default;
$size-200: 12.5rem !default;
$size-208: 13rem !default;
$size-216: 13.5rem !default;
$size-224: 14rem !default;
$size-232: 14.5rem !default;
$size-240: 15rem !default;
$size-248: 15.5rem !default;
$size-256: 16rem !default;
$size-264: 16.5rem !default;
$size-272: 17rem !default;
$size-280: 17.5rem !default;
$size-288: 18rem !default;
$size-296: 18.5rem !default;
$size-304: 19rem !default;
$size-312: 19.5rem !default;
$size-320: 20rem !default;
$size-328: 20.5rem !default;
$size-336: 21rem !default;
$size-344: 21.5rem !default;
$size-352: 22rem !default;
$size-360: 22.5rem !default;
$size-368: 23rem !default;
$size-376: 23.5rem !default;
$size-384: 24rem !default;
$size-392: 24.5rem !default;
$size-400: 25rem !default;
$size-408: 25.5rem !default;
$size-416: 26rem !default;
$size-424: 26.5rem !default;
$size-432: 27rem !default;
$size-440: 27.5rem !default;
$size-448: 28rem !default;
$size-456: 28.5rem !default;
$size-464: 29rem !default;
$size-472: 29.5rem !default;
$size-480: 30rem !default;
$size-488: 30.5rem !default;
$size-496: 31rem !default;
$size-504: 31.5rem !default;
$size-512: 32rem !default;
$size-520: 32.5rem !default;
$size-528: 33rem !default;
$size-536: 33.5rem !default;
$size-544: 34rem !default;
$size-552: 34.5rem !default;
$size-560: 35rem !default;
$size-568: 35.5rem !default;
$size-576: 36rem !default;
$size-584: 36.5rem !default;
$size-592: 37rem !default;
$size-600: 37.5rem !default;
$size-608: 38rem !default;
$size-616: 38.5rem !default;
$size-624: 39rem !default;
$size-632: 39.5rem !default;
$size-640: 40rem !default;
$size-648: 40.5rem !default;
$size-656: 41rem !default;
$size-664: 41.5rem !default;
$size-672: 42rem !default;
$size-680: 42.5rem !default;
$size-688: 43rem !default;
$size-696: 43.5rem !default;
$size-704: 44rem !default;
$size-712: 44.5rem !default;
$size-720: 45rem !default;
$size-728: 45.5rem !default;
$size-736: 46rem !default;
$size-744: 46.5rem !default;
$size-752: 47rem !default;
$size-760: 47.5rem !default;
$size-768: 48rem !default;
$size-776: 48.5rem !default;
$size-784: 49rem !default;
$size-792: 49.5rem !default;
$size-800: 50rem !default;
$size-808: 50.5rem !default;
$size-816: 51rem !default;
$size-824: 51.5rem !default;
$size-832: 52rem !default;
$size-840: 52.5rem !default;
$size-848: 53rem !default;
$size-856: 53.5rem !default;
$size-864: 54rem !default;
$size-872: 54.5rem !default;
$size-880: 55rem !default;
$size-888: 55.5rem !default;
$size-896: 56rem !default;
$size-904: 56.5rem !default;
$size-912: 57rem !default;
$size-920: 57.5rem !default;
$size-928: 58rem !default;
$size-936: 58.5rem !default;
$size-944: 59rem !default;
$size-952: 59.5rem !default;
$size-960: 60rem !default;
$size-968: 60.5rem !default;
$size-976: 61rem !default;
$size-984: 61.5rem !default;
$size-992: 62rem !default;
$size-1000: 62.5rem !default;
$size-1008: 63rem !default;
$size-1016: 63.5rem !default;
$size-1024: 64rem !default;
$size-1032: 64.5rem !default;
$size-1040: 65rem !default;
$size-1048: 65.5rem !default;
$size-1056: 66rem !default;
$size-1064: 66.5rem !default;
$size-1072: 67rem !default;
$size-1080: 67.5rem !default;
$size-1088: 68rem !default;
$size-1096: 68.5rem !default;
$size-1104: 69rem !default;
$size-1112: 69.5rem !default;
$size-1120: 70rem !default;
$size-1128: 70.5rem !default;
$size-1136: 71rem !default;
$size-1144: 71.5rem !default;
$size-1152: 72rem !default;
$size-1160: 72.5rem !default;
$size-1168: 73rem !default;
$size-1176: 73.5rem !default;
$size-1184: 74rem !default;
$size-1192: 74.5rem !default;
$size-1200: 75rem !default;
$size-1208: 75.5rem !default;
$size-1216: 76rem !default;
$size-1224: 76.5rem !default;
$size-1232: 77rem !default;
$size-1240: 77.5rem !default;
$size-1248: 78rem !default;
$size-1256: 78.5rem !default;
$size-1264: 79rem !default;
$size-1272: 79.5rem !default;
$size-1280: 80rem !default;
$size-1288: 80.5rem !default;
$size-1296: 81rem !default;
$size-1304: 81.5rem !default;
$size-1312: 82rem !default;
$size-1320: 82.5rem !default;
$size-1328: 83rem !default;
$size-1336: 83.5rem !default;
$size-1344: 84rem !default;
$size-1352: 84.5rem !default;
$size-1360: 85rem !default;
$size-1368: 85.5rem !default;
$size-1376: 86rem !default;
$size-1384: 86.5rem !default;
$size-1392: 87rem !default;
$size-1400: 87.5rem !default;
$size-1408: 88rem !default;
$size-1416: 88.5rem !default;
$size-1424: 89rem !default;
$size-1432: 89.5rem !default;
$size-1440: 90rem !default;
$size-1448: 90.5rem !default;
$size-1456: 91rem !default;
$size-1464: 91.5rem !default;
$size-1472: 92rem !default;
$size-1480: 92.5rem !default;
$size-1488: 93rem !default;
$size-1496: 93.5rem !default;
$size-1504: 94rem !default;
$size-1512: 94.5rem !default;
$size-1520: 95rem !default;
$size-1528: 95.5rem !default;
$size-1536: 96rem !default;
$size-1544: 96.5rem !default;
$size-1552: 97rem !default;
$size-1560: 97.5rem !default;
$size-1568: 98rem !default;
$size-1576: 98.5rem !default;
$size-1584: 99rem !default;
$size-1592: 99.5rem !default;
$size-1600: 100rem !default;
$size-1608: 100.5rem !default;
$size-1616: 101rem !default;
$size-1624: 101.5rem !default;
$size-1632: 102rem !default;
$size-1640: 102.5rem !default;
$size-1648: 103rem !default;
$size-1656: 103.5rem !default;
$size-1664: 104rem !default;
$size-1672: 104.5rem !default;
$size-1680: 105rem !default;
$size-1688: 105.5rem !default;
$size-1696: 106rem !default;
$size-1704: 106.5rem !default;
$size-1712: 107rem !default;
$size-1720: 107.5rem !default;
$size-1728: 108rem !default;
$size-1736: 108.5rem !default;
$size-1744: 109rem !default;
$size-1752: 109.5rem !default;
$size-1760: 110rem !default;
$size-1768: 110.5rem !default;
$size-1776: 111rem !default;
$size-1784: 111.5rem !default;
$size-1792: 112rem !default;
$size-1800: 112.5rem !default;
$size-1808: 113rem !default;
$size-1816: 113.5rem !default;
$size-1824: 114rem !default;
$size-1832: 114.5rem !default;
$size-1840: 115rem !default;
$size-1848: 115.5rem !default;
$size-1856: 116rem !default;
$size-1864: 116.5rem !default;
$size-1872: 117rem !default;
$size-1880: 117.5rem !default;
$size-1888: 118rem !default;
$size-1896: 118.5rem !default;
$size-1904: 119rem !default;
$size-1912: 119.5rem !default;
$size-1920: 120rem !default;
$size-1928: 120.5rem !default;
$size-1936: 121rem !default;
$size-1944: 121.5rem !default;
$size-1952: 122rem !default;
$size-1960: 122.5rem !default;
$size-1968: 123rem !default;
$size-1976: 123.5rem !default;
$size-1984: 124rem !default;
$size-1992: 124.5rem !default;
$size-2000: 125rem !default;
$size-2008: 125.5rem !default;
$size-2016: 126rem !default;
$size-2024: 126.5rem !default;
$size-2032: 127rem !default;
$size-2040: 127.5rem !default;
$size-2048: 128rem !default;
$size-2056: 128.5rem !default;
$size-2064: 129rem !default;
$size-2072: 129.5rem !default;
$size-2080: 130rem !default;
$size-2088: 130.5rem !default;
$size-2096: 131rem !default;
$size-2104: 131.5rem !default;
$size-2112: 132rem !default;
$size-2120: 132.5rem !default;
$size-2128: 133rem !default;
$size-2136: 133.5rem !default;
$size-2144: 134rem !default;
$size-2152: 134.5rem !default;
$size-2160: 135rem !default;
$size-2168: 135.5rem !default;
$size-2176: 136rem !default;
$size-2184: 136.5rem !default;
$size-2192: 137rem !default;
$size-2200: 137.5rem !default;
$size-2208: 138rem !default;
$size-2216: 138.5rem !default;
$size-2224: 139rem !default;
$size-2232: 139.5rem !default;
$size-2240: 140rem !default;
$size-2248: 140.5rem !default;
$size-2256: 141rem !default;
$size-2264: 141.5rem !default;
$size-2272: 142rem !default;
$size-2280: 142.5rem !default;
$size-2288: 143rem !default;
$size-2296: 143.5rem !default;
$size-2304: 144rem !default;
$size-2312: 144.5rem !default;
$size-2320: 145rem !default;
$size-2328: 145.5rem !default;
$size-2336: 146rem !default;
$size-2344: 146.5rem !default;
$size-2352: 147rem !default;
$size-2360: 147.5rem !default;
$size-2368: 148rem !default;
$size-2376: 148.5rem !default;
$size-2384: 149rem !default;
$size-2392: 149.5rem !default;
$size-2400: 150rem !default;
$size-2408: 150.5rem !default;
$size-2416: 151rem !default;
$size-2424: 151.5rem !default;
$size-2432: 152rem !default;
$size-2440: 152.5rem !default;
$size-2448: 153rem !default;
$size-2456: 153.5rem !default;
$size-2464: 154rem !default;
$size-2472: 154.5rem !default;
$size-2480: 155rem !default;
$size-2488: 155.5rem !default;
$size-2496: 156rem !default;
$size-2504: 156.5rem !default;
$size-2512: 157rem !default;
$size-2520: 157.5rem !default;
$size-2528: 158rem !default;
$size-2536: 158.5rem !default;
$size-2544: 159rem !default;
$size-2552: 159.5rem !default;
$size-2560: 160rem !default;
$size-2568: 160.5rem !default;
$size-2576: 161rem !default;
$size-2584: 161.5rem !default;
$size-2592: 162rem !default;
$size-2600: 162.5rem !default;
$size-2608: 163rem !default;
$size-2616: 163.5rem !default;
$size-2624: 164rem !default;
$size-2632: 164.5rem !default;
$size-2640: 165rem !default;
$size-2648: 165.5rem !default;
$size-2656: 166rem !default;
$size-2664: 166.5rem !default;
$size-2672: 167rem !default;
$size-2680: 167.5rem !default;
$size-2688: 168rem !default;
$size-2696: 168.5rem !default;
$size-2704: 169rem !default;
$size-2712: 169.5rem !default;
$size-2720: 170rem !default;
$size-2728: 170.5rem !default;
$size-2736: 171rem !default;
$size-2744: 171.5rem !default;
$size-2752: 172rem !default;
$size-2760: 172.5rem !default;
$size-2768: 173rem !default;
$size-2776: 173.5rem !default;
$size-2784: 174rem !default;
$size-2792: 174.5rem !default;
$size-2800: 175rem !default;
$size-2808: 175.5rem !default;
$size-2816: 176rem !default;
$size-2824: 176.5rem !default;
$size-2832: 177rem !default;
$size-2840: 177.5rem !default;
$size-2848: 178rem !default;
$size-2856: 178.5rem !default;
$size-2864: 179rem !default;
$size-2872: 179.5rem !default;
$size-2880: 180rem !default;
$size-2888: 180.5rem !default;
$size-2896: 181rem !default;
$size-2904: 181.5rem !default;
$size-2912: 182rem !default;
$size-2920: 182.5rem !default;
$size-2928: 183rem !default;
$size-2936: 183.5rem !default;
$size-2944: 184rem !default;
$size-2952: 184.5rem !default;
$size-2960: 185rem !default;
$size-2968: 185.5rem !default;
$size-2976: 186rem !default;
$size-2984: 186.5rem !default;
$size-2992: 187rem !default;
$size-3000: 187.5rem !default;
$size-3008: 188rem !default;
$size-3016: 188.5rem !default;
$size-3024: 189rem !default;
$size-3032: 189.5rem !default;
$size-3040: 190rem !default;
$size-3048: 190.5rem !default;
$size-3056: 191rem !default;
$size-3064: 191.5rem !default;
$size-3072: 192rem !default;
$size-3080: 192.5rem !default;
$size-3088: 193rem !default;
$size-3096: 193.5rem !default;
$size-3104: 194rem !default;
$size-3112: 194.5rem !default;
$size-3120: 195rem !default;
$size-3128: 195.5rem !default;
$size-3136: 196rem !default;
$size-3144: 196.5rem !default;
$size-3152: 197rem !default;
$size-3160: 197.5rem !default;
$size-3168: 198rem !default;
$size-3176: 198.5rem !default;
$size-3184: 199rem !default;
$size-3192: 199.5rem !default;
$size-3200: 200rem !default;
$size-3208: 200.5rem !default;
$size-3216: 201rem !default;
$size-3224: 201.5rem !default;
$size-3232: 202rem !default;
$size-3240: 202.5rem !default;
$size-3248: 203rem !default;
$size-3256: 203.5rem !default;
$size-3264: 204rem !default;
$size-3272: 204.5rem !default;
$size-3280: 205rem !default;
$size-3288: 205.5rem !default;
$size-3296: 206rem !default;
$size-3304: 206.5rem !default;
$size-3312: 207rem !default;
$size-3320: 207.5rem !default;
$size-3328: 208rem !default;
$size-3336: 208.5rem !default;
$size-3344: 209rem !default;
$size-3352: 209.5rem !default;
$size-3360: 210rem !default;
$size-3368: 210.5rem !default;
$size-3376: 211rem !default;
$size-3384: 211.5rem !default;
$size-3392: 212rem !default;
$size-3400: 212.5rem !default;
$size-3408: 213rem !default;
$size-3416: 213.5rem !default;
$size-3424: 214rem !default;
$size-3432: 214.5rem !default;
$size-3440: 215rem !default;
$size-3448: 215.5rem !default;
$size-3456: 216rem !default;
$size-3464: 216.5rem !default;
$size-3472: 217rem !default;
$size-3480: 217.5rem !default;
$size-3488: 218rem !default;
$size-3496: 218.5rem !default;
$size-3504: 219rem !default;
$size-3512: 219.5rem !default;
$size-3520: 220rem !default;
$size-3528: 220.5rem !default;
$size-3536: 221rem !default;
$size-3544: 221.5rem !default;
$size-3552: 222rem !default;
$size-3560: 222.5rem !default;
$size-3568: 223rem !default;
$size-3576: 223.5rem !default;
$size-3584: 224rem !default;
$size-3592: 224.5rem !default;
$size-3600: 225rem !default;
$size-3608: 225.5rem !default;
$size-3616: 226rem !default;
$size-3624: 226.5rem !default;
$size-3632: 227rem !default;
$size-3640: 227.5rem !default;
$size-3648: 228rem !default;
$size-3656: 228.5rem !default;
$size-3664: 229rem !default;
$size-3672: 229.5rem !default;
$size-3680: 230rem !default;
$size-3688: 230.5rem !default;
$size-3696: 231rem !default;
$size-3704: 231.5rem !default;
$size-3712: 232rem !default;
$size-3720: 232.5rem !default;
$size-3728: 233rem !default;
$size-3736: 233.5rem !default;
$size-3744: 234rem !default;
$size-3752: 234.5rem !default;
$size-3760: 235rem !default;
$size-3768: 235.5rem !default;
$size-3776: 236rem !default;
$size-3784: 236.5rem !default;
$size-3792: 237rem !default;
$size-3800: 237.5rem !default;
$size-3808: 238rem !default;
$size-3816: 238.5rem !default;
$size-3824: 239rem !default;
$size-3832: 239.5rem !default;
$size-3840: 240rem !default;
$size-3848: 240.5rem !default;
$size-3856: 241rem !default;
$size-3864: 241.5rem !default;
$size-3872: 242rem !default;
$size-3880: 242.5rem !default;
$size-3888: 243rem !default;
$size-3896: 243.5rem !default;
$size-3904: 244rem !default;
$size-3912: 244.5rem !default;
$size-3920: 245rem !default;
$size-3928: 245.5rem !default;
$size-3936: 246rem !default;
$size-3944: 246.5rem !default;
$size-3952: 247rem !default;
$size-3960: 247.5rem !default;
$size-3968: 248rem !default;
$size-3976: 248.5rem !default;
$size-3984: 249rem !default;
$size-3992: 249.5rem !default;
$size-4000: 250rem !default;
$size-4008: 250.5rem !default;
$size-4016: 251rem !default;
$size-4024: 251.5rem !default;
$size-4032: 252rem !default;
$size-4040: 252.5rem !default;
$size-4048: 253rem !default;
$size-4056: 253.5rem !default;
$size-4064: 254rem !default;
$size-4072: 254.5rem !default;
$size-4080: 255rem !default;
$size-4088: 255.5rem !default;
$size-4096: 256rem !default;
$size-4104: 256.5rem !default;
$size-4112: 257rem !default;
$size-4120: 257.5rem !default;
$size-4128: 258rem !default;
$size-4136: 258.5rem !default;
$size-4144: 259rem !default;
$size-4152: 259.5rem !default;
$size-4160: 260rem !default;
$size-4168: 260.5rem !default;
$size-4176: 261rem !default;
$size-4184: 261.5rem !default;
$size-4192: 262rem !default;
$size-4200: 262.5rem !default;
$size-4208: 263rem !default;
$size-4216: 263.5rem !default;
$size-4224: 264rem !default;
$size-4232: 264.5rem !default;
$size-4240: 265rem !default;
$size-4248: 265.5rem !default;
$size-4256: 266rem !default;
$size-4264: 266.5rem !default;
$size-4272: 267rem !default;
$size-4280: 267.5rem !default;
$size-4288: 268rem !default;
$size-4296: 268.5rem !default;
$size-4304: 269rem !default;
$size-4312: 269.5rem !default;
$size-4320: 270rem !default;
$size-4328: 270.5rem !default;
$size-4336: 271rem !default;
$size-4344: 271.5rem !default;
$size-4352: 272rem !default;
$size-4360: 272.5rem !default;
$size-4368: 273rem !default;
$size-4376: 273.5rem !default;
$size-4384: 274rem !default;
$size-4392: 274.5rem !default;
$size-4400: 275rem !default;
$size-4408: 275.5rem !default;
$size-4416: 276rem !default;
$size-4424: 276.5rem !default;
$size-4432: 277rem !default;
$size-4440: 277.5rem !default;
$size-4448: 278rem !default;
$size-4456: 278.5rem !default;
$size-4464: 279rem !default;
$size-4472: 279.5rem !default;
$size-4480: 280rem !default;
$size-4488: 280.5rem !default;
$size-4496: 281rem !default;
$size-4504: 281.5rem !default;
$size-4512: 282rem !default;
$size-4520: 282.5rem !default;
$size-4528: 283rem !default;
$size-4536: 283.5rem !default;
$size-4544: 284rem !default;
$size-4552: 284.5rem !default;
$size-4560: 285rem !default;
$size-4568: 285.5rem !default;
$size-4576: 286rem !default;
$size-4584: 286.5rem !default;
$size-4592: 287rem !default;
$size-4600: 287.5rem !default;
$size-4608: 288rem !default;
$size-4616: 288.5rem !default;
$size-4624: 289rem !default;
$size-4632: 289.5rem !default;
$size-4640: 290rem !default;
$size-4648: 290.5rem !default;
$size-4656: 291rem !default;
$size-4664: 291.5rem !default;
$size-4672: 292rem !default;
$size-4680: 292.5rem !default;
$size-4688: 293rem !default;
$size-4696: 293.5rem !default;
$size-4704: 294rem !default;
$size-4712: 294.5rem !default;
$size-4720: 295rem !default;
$size-4728: 295.5rem !default;
$size-4736: 296rem !default;
$size-4744: 296.5rem !default;
$size-4752: 297rem !default;
$size-4760: 297.5rem !default;
$size-4768: 298rem !default;
$size-4776: 298.5rem !default;
$size-4784: 299rem !default;
$size-4792: 299.5rem !default;
$size-4800: 300rem !default;
$size-4808: 300.5rem !default;
$size-4816: 301rem !default;
$size-4824: 301.5rem !default;
$size-4832: 302rem !default;
$size-4840: 302.5rem !default;
$size-4848: 303rem !default;
$size-4856: 303.5rem !default;
$size-4864: 304rem !default;
$size-4872: 304.5rem !default;
$size-4880: 305rem !default;
$size-4888: 305.5rem !default;
$size-4896: 306rem !default;
$size-4904: 306.5rem !default;
$size-4912: 307rem !default;
$size-4920: 307.5rem !default;
$size-4928: 308rem !default;
$size-4936: 308.5rem !default;
$size-4944: 309rem !default;
$size-4952: 309.5rem !default;
$size-4960: 310rem !default;
$size-4968: 310.5rem !default;
$size-4976: 311rem !default;
$size-4984: 311.5rem !default;
$size-4992: 312rem !default;
$size-5000: 312.5rem !default;
$size-5008: 313rem !default;
$size-5016: 313.5rem !default;
$size-5024: 314rem !default;
$size-5032: 314.5rem !default;
$size-5040: 315rem !default;
$size-5048: 315.5rem !default;
$size-5056: 316rem !default;
$size-5064: 316.5rem !default;
$size-5072: 317rem !default;
$size-5080: 317.5rem !default;
$size-5088: 318rem !default;
$size-5096: 318.5rem !default;
$size-5104: 319rem !default;
$size-5112: 319.5rem !default;
$size-5120: 320rem !default;
$size-5128: 320.5rem !default;
$size-5136: 321rem !default;
$size-5144: 321.5rem !default;
$size-5152: 322rem !default;
$size-5160: 322.5rem !default;
$size-5168: 323rem !default;
$size-5176: 323.5rem !default;
$size-5184: 324rem !default;
$size-5192: 324.5rem !default;
$size-5200: 325rem !default;
$size-5208: 325.5rem !default;
$size-5216: 326rem !default;
$size-5224: 326.5rem !default;
$size-5232: 327rem !default;
$size-5240: 327.5rem !default;
$size-5248: 328rem !default;
$size-5256: 328.5rem !default;
$size-5264: 329rem !default;
$size-5272: 329.5rem !default;
$size-5280: 330rem !default;
$size-5288: 330.5rem !default;
$size-5296: 331rem !default;
$size-5304: 331.5rem !default;
$size-5312: 332rem !default;
$size-5320: 332.5rem !default;
$size-5328: 333rem !default;
$size-5336: 333.5rem !default;
$size-5344: 334rem !default;
$size-5352: 334.5rem !default;
$size-5360: 335rem !default;
$size-5368: 335.5rem !default;
$size-5376: 336rem !default;
$size-5384: 336.5rem !default;
$size-5392: 337rem !default;
$size-5400: 337.5rem !default;
$size-5408: 338rem !default;
$size-5416: 338.5rem !default;
$size-5424: 339rem !default;
$size-5432: 339.5rem !default;
$size-5440: 340rem !default;
$size-5448: 340.5rem !default;
$size-5456: 341rem !default;
$size-5464: 341.5rem !default;
$size-5472: 342rem !default;
$size-5480: 342.5rem !default;
$size-5488: 343rem !default;
$size-5496: 343.5rem !default;
$size-5504: 344rem !default;
$size-5512: 344.5rem !default;
$size-5520: 345rem !default;
$size-5528: 345.5rem !default;
$size-5536: 346rem !default;
$size-5544: 346.5rem !default;
$size-5552: 347rem !default;
$size-5560: 347.5rem !default;
$size-5568: 348rem !default;
$size-5576: 348.5rem !default;
$size-5584: 349rem !default;
$size-5592: 349.5rem !default;
$size-5600: 350rem !default;
$size-5608: 350.5rem !default;
$size-5616: 351rem !default;
$size-5624: 351.5rem !default;
$size-5632: 352rem !default;
$size-5640: 352.5rem !default;
$size-5648: 353rem !default;
$size-5656: 353.5rem !default;
$size-5664: 354rem !default;
$size-5672: 354.5rem !default;
$size-5680: 355rem !default;
$size-5688: 355.5rem !default;
$size-5696: 356rem !default;
$size-5704: 356.5rem !default;
$size-5712: 357rem !default;
$size-5720: 357.5rem !default;
$size-5728: 358rem !default;
$size-5736: 358.5rem !default;
$size-5744: 359rem !default;
$size-5752: 359.5rem !default;
$size-5760: 360rem !default;
$size-5768: 360.5rem !default;
$size-5776: 361rem !default;
$size-5784: 361.5rem !default;
$size-5792: 362rem !default;
$size-5800: 362.5rem !default;
$size-5808: 363rem !default;
$size-5816: 363.5rem !default;
$size-5824: 364rem !default;
$size-5832: 364.5rem !default;
$size-5840: 365rem !default;
$size-5848: 365.5rem !default;
$size-5856: 366rem !default;
$size-5864: 366.5rem !default;
$size-5872: 367rem !default;
$size-5880: 367.5rem !default;
$size-5888: 368rem !default;
$size-5896: 368.5rem !default;
$size-5904: 369rem !default;
$size-5912: 369.5rem !default;
$size-5920: 370rem !default;
$size-5928: 370.5rem !default;
$size-5936: 371rem !default;
$size-5944: 371.5rem !default;
$size-5952: 372rem !default;
$size-5960: 372.5rem !default;
$size-5968: 373rem !default;
$size-5976: 373.5rem !default;
$size-5984: 374rem !default;
$size-5992: 374.5rem !default;
$size-6000: 375rem !default;
$size-6008: 375.5rem !default;
$size-6016: 376rem !default;
$size-6024: 376.5rem !default;
$size-6032: 377rem !default;
$size-6040: 377.5rem !default;
$size-6048: 378rem !default;
$size-6056: 378.5rem !default;
$size-6064: 379rem !default;
$size-6072: 379.5rem !default;
$size-6080: 380rem !default;
$size-6088: 380.5rem !default;
$size-6096: 381rem !default;
$size-6104: 381.5rem !default;
$size-6112: 382rem !default;
$size-6120: 382.5rem !default;
$size-6128: 383rem !default;
$size-6136: 383.5rem !default;
$size-6144: 384rem !default;
$size-6152: 384.5rem !default;
$size-6160: 385rem !default;
$size-6168: 385.5rem !default;
$size-6176: 386rem !default;
$size-6184: 386.5rem !default;
$size-6192: 387rem !default;
$size-6200: 387.5rem !default;
$size-6208: 388rem !default;
$size-6216: 388.5rem !default;
$size-6224: 389rem !default;
$size-6232: 389.5rem !default;
$size-6240: 390rem !default;
$size-6248: 390.5rem !default;
$size-6256: 391rem !default;
$size-6264: 391.5rem !default;
$size-6272: 392rem !default;
$size-6280: 392.5rem !default;
$size-6288: 393rem !default;
$size-6296: 393.5rem !default;
$size-6304: 394rem !default;
$size-6312: 394.5rem !default;
$size-6320: 395rem !default;
$size-6328: 395.5rem !default;
$size-6336: 396rem !default;
$size-6344: 396.5rem !default;
$size-6352: 397rem !default;
$size-6360: 397.5rem !default;
$size-6368: 398rem !default;
$size-6376: 398.5rem !default;
$size-6384: 399rem !default;
$size-6392: 399.5rem !default;
$size-6400: 400rem !default;
$size-6408: 400.5rem !default;
$size-6416: 401rem !default;
$size-6424: 401.5rem !default;
$size-6432: 402rem !default;
$size-6440: 402.5rem !default;
$size-6448: 403rem !default;
$size-6456: 403.5rem !default;
$size-6464: 404rem !default;
$size-6472: 404.5rem !default;
$size-6480: 405rem !default;
$size-6488: 405.5rem !default;
$size-6496: 406rem !default;
$size-6504: 406.5rem !default;
$size-6512: 407rem !default;
$size-6520: 407.5rem !default;
$size-6528: 408rem !default;
$size-6536: 408.5rem !default;
$size-6544: 409rem !default;
$size-6552: 409.5rem !default;
$size-6560: 410rem !default;
$size-6568: 410.5rem !default;
$size-6576: 411rem !default;
$size-6584: 411.5rem !default;
$size-6592: 412rem !default;
$size-6600: 412.5rem !default;
$size-6608: 413rem !default;
$size-6616: 413.5rem !default;
$size-6624: 414rem !default;
$size-6632: 414.5rem !default;
$size-6640: 415rem !default;
$size-6648: 415.5rem !default;
$size-6656: 416rem !default;
$size-6664: 416.5rem !default;
$size-6672: 417rem !default;
$size-6680: 417.5rem !default;
$size-6688: 418rem !default;
$size-6696: 418.5rem !default;
$size-6704: 419rem !default;
$size-6712: 419.5rem !default;
$size-6720: 420rem !default;
$size-6728: 420.5rem !default;
$size-6736: 421rem !default;
$size-6744: 421.5rem !default;
$size-6752: 422rem !default;
$size-6760: 422.5rem !default;
$size-6768: 423rem !default;
$size-6776: 423.5rem !default;
$size-6784: 424rem !default;
$size-6792: 424.5rem !default;
$size-6800: 425rem !default;
$size-6808: 425.5rem !default;
$size-6816: 426rem !default;
$size-6824: 426.5rem !default;
$size-6832: 427rem !default;
$size-6840: 427.5rem !default;
$size-6848: 428rem !default;
$size-6856: 428.5rem !default;
$size-6864: 429rem !default;
$size-6872: 429.5rem !default;
$size-6880: 430rem !default;
$size-6888: 430.5rem !default;
$size-6896: 431rem !default;
$size-6904: 431.5rem !default;
$size-6912: 432rem !default;
$size-6920: 432.5rem !default;
$size-6928: 433rem !default;
$size-6936: 433.5rem !default;
$size-6944: 434rem !default;
$size-6952: 434.5rem !default;
$size-6960: 435rem !default;
$size-6968: 435.5rem !default;
$size-6976: 436rem !default;
$size-6984: 436.5rem !default;
$size-6992: 437rem !default;
$size-7000: 437.5rem !default;
$size-7008: 438rem !default;
$size-7016: 438.5rem !default;
$size-7024: 439rem !default;
$size-7032: 439.5rem !default;
$size-7040: 440rem !default;
$size-7048: 440.5rem !default;
$size-7056: 441rem !default;
$size-7064: 441.5rem !default;
$size-7072: 442rem !default;
$size-7080: 442.5rem !default;
$size-7088: 443rem !default;
$size-7096: 443.5rem !default;
$size-7104: 444rem !default;
$size-7112: 444.5rem !default;
$size-7120: 445rem !default;
$size-7128: 445.5rem !default;
$size-7136: 446rem !default;
$size-7144: 446.5rem !default;
$size-7152: 447rem !default;
$size-7160: 447.5rem !default;
$size-7168: 448rem !default;
$size-7176: 448.5rem !default;
$size-7184: 449rem !default;
$size-7192: 449.5rem !default;
$size-7200: 450rem !default;
$size-7208: 450.5rem !default;
$size-7216: 451rem !default;
$size-7224: 451.5rem !default;
$size-7232: 452rem !default;
$size-7240: 452.5rem !default;
$size-7248: 453rem !default;
$size-7256: 453.5rem !default;
$size-7264: 454rem !default;
$size-7272: 454.5rem !default;
$size-7280: 455rem !default;
$size-7288: 455.5rem !default;
$size-7296: 456rem !default;
$size-7304: 456.5rem !default;
$size-7312: 457rem !default;
$size-7320: 457.5rem !default;
$size-7328: 458rem !default;
$size-7336: 458.5rem !default;
$size-7344: 459rem !default;
$size-7352: 459.5rem !default;
$size-7360: 460rem !default;
$size-7368: 460.5rem !default;
$size-7376: 461rem !default;
$size-7384: 461.5rem !default;
$size-7392: 462rem !default;
$size-7400: 462.5rem !default;
$size-7408: 463rem !default;
$size-7416: 463.5rem !default;
$size-7424: 464rem !default;
$size-7432: 464.5rem !default;
$size-7440: 465rem !default;
$size-7448: 465.5rem !default;
$size-7456: 466rem !default;
$size-7464: 466.5rem !default;
$size-7472: 467rem !default;
$size-7480: 467.5rem !default;
$size-7488: 468rem !default;
$size-7496: 468.5rem !default;
$size-7504: 469rem !default;
$size-7512: 469.5rem !default;
$size-7520: 470rem !default;
$size-7528: 470.5rem !default;
$size-7536: 471rem !default;
$size-7544: 471.5rem !default;
$size-7552: 472rem !default;
$size-7560: 472.5rem !default;
$size-7568: 473rem !default;
$size-7576: 473.5rem !default;
$size-7584: 474rem !default;
$size-7592: 474.5rem !default;
$size-7600: 475rem !default;
$size-7608: 475.5rem !default;
$size-7616: 476rem !default;
$size-7624: 476.5rem !default;
$size-7632: 477rem !default;
$size-7640: 477.5rem !default;
$size-7648: 478rem !default;
$size-7656: 478.5rem !default;
$size-7664: 479rem !default;
$size-7672: 479.5rem !default;
$size-7680: 480rem !default;
