@import "config";
@import "mixin";

// Header H1
h1 {
  font-family: $font-family;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  color: $h1-font-colour;
  @include respond-to($h1-font-size) using ($breakpoint, $value) {
    font-size: $value;
    font-weight: map-get($h1-font-weight, $breakpoint);
    line-height: map-get($h1-line-height, $breakpoint);
    letter-spacing: map-get($h1-letter-space, $breakpoint);
  }
}

// Header H2
h2 {
  font-family: $font-family;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  color: $h2-font-colour;
  @include respond-to($h2-font-size) using ($breakpoint, $value) {
    font-size: $value;
    font-weight: map-get($h2-font-weight, $breakpoint);
    line-height: map-get($h2-line-height, $breakpoint);
    letter-spacing: map-get($h2-letter-space, $breakpoint);
  }
}

// Paragraph P
p {
  font-family: $font-family;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  color: $h2-font-colour;
  @include respond-to($p-font-size) using ($breakpoint, $value) {
    font-size: $value;
    font-weight: map-get($p-font-weight, $breakpoint);
    line-height: map-get($p-line-height, $breakpoint);
    letter-spacing: map-get($p-letter-space, $breakpoint);
  }
}
